.sep{
    display: flex;
    flex-direction: row;
    background-color: #16476A;
    padding-top: 20px;
}
.column{
    display:flex;
    flex:50%;
    text-align: center;
    justify-content: center;
}

.product-btn, .user-btn{
    width: 40%;
    padding: 14px 25px;
    border-radius: 10px 10px 0 0;   /* bo góc tròn trên */
    border: 1px transparent;
    background-color: #16476A;
    color: white;
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-size: 16px;
    text-decoration: none;
}
.user-btn:hover, .user-btn.active, .product-btn:hover, .product-btn.active {
    background-color: #BF092F;
}

/* không có sản phẩm/ người dùng */
.no-product, .no-user{
    text-align: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
}
.no-product img, .no-user img{
    height: 150px;
    width: 150px;
}

.product-table, .user-table{
    width: 100%;
}

.product-table img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    overflow: hidden;
}

.product{border: 2px solid transparent;}

.add-cell{
    text-align: center;
    vertical-align: middle;
}
.addBtn{
    border: 5px solid orange;
    border-radius: 50%;
    color: orange;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    font-size: 80px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.addBtn:hover{
    background-color: orange;
    color: white;
    border: 5px solid white;
}

.hidden { display: none; }

/* form edit sản phẩm */
.popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-height: 80%;
    overflow-y: auto;
}
.product-form, .user-form{
    display: flex;
    flex-wrap: wrap;
}
.input-wrapper {
    width: fit-content;
    padding: 10px;
}
.product-form input, .user-form input {
    padding: 10px;
}

.close-popup {
    float: right;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}

/* các nút xác nhận */
.optionDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
.optionDiv button{
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Verdana", sans-serif;
}
.optionDiv .delete{
    background-color: red;
    border: red solid 2px;
    color: white;
}
.optionDiv .cancel{
    background-color: white;
    border: black solid 2px;
}
.optionDiv .cancel:hover{
    color: rgb(100, 100, 100);
}
.optionDiv .save{
    background-color: #8C00FF;
    color: white;
    border: #8C00FF solid 2px;
}

/* overlay lúc hover vào cell bảng chuẩn bị mở form */
.product-table td {
    position: relative;
}

.product-table td .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    border: none;
    display: none;
    z-index: 10;
    cursor: pointer;
}

.product-table td:hover .overlay {
    display: block;
}

.overlay img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* User tab */
.user-table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.user-table th:first-child,
.user-table td:first-child {
    width: 1%; /* cho vừa khít nội dung */
    white-space: nowrap; /* tránh xuống dòng */
    font-weight: bold;
}
.user-table th, .user-table tr, .user-table td{
    border: 1px #16476A solid;
}
.user-table img{
    height: 20px;
    width: 20px;
}
.user-table td:nth-last-child(2),
.user-table th:nth-last-child(2) {
    width: 1%;
    padding: 10px;
}
.user-table button{
    text-decoration: none;
    background-color: white;
    border: 2px solid transparent;
    cursor: pointer;
}
.user-table .edit-user:hover{
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #FFA733, #FF7A00) 1;
}
.user-table .delete-user {
    color: red;
    background-color: white;
    padding: 6px 9px;
    border: 2px solid red;
    border-radius: 5px;
}
.user-table .delete-user:hover { background-color: red; color: white;}

