h2 {
    text-align: center;
}
#chat-container {
    height: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#chat-box {
    height: 370px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;

    /* để các div dùng align-self căn user/bot textbox */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 50px;
}
#chat-box p {
    margin: 10px 0;
    white-space: pre-wrap;
    color: black;
}
#chat-input-area {
    display: flex;
    padding: 10px 10px 10px 30px;

    border: 1px solid #ccc;
    width: 70%;
    position: absolute;
    margin: 0 auto 30px;
    justify-self: center;
    border-radius: 30px;
}
#chat-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
}
#chat-input:focus {
    outline: none;
}
#send-button {
    background-color: #8C00FF;
    color: white;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

    /* cho cái ảnh nó căn giữa */
    display: flex;
    align-items: center;
    justify-content: center;
}
#send-button:hover {
    background-color: #7200D9;
}
#send-button img{
    width: 20px;
    height: 20px;
}

.user-div{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #8C00FF;
    color: #F3F8FF;
    max-width: 70%;
    align-self: flex-end;
    text-wrap: wrap;
}


/* giai đoạn nút trong menubar */
.ai-button{
    position:fixed;
    right: 20px;
    bottom: 20px;
    z-index: 21;

    width: fit-content;
    height: fit-content;
}

.ai-button button{
    border: none;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    position: relative;
}

.ai-button img {
    height: 50px;
    width: 50px;
}

.ai-button span {
    display: none;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);

    background: rgb(255, 255, 255, 0.8);
    color: #132440;
    font-family: Open Sans, sans-serif;
    text-align: center;
    justify-content: center;

    width: 60px;
    padding: 6px 12px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 25;
}


.ai-button span .triangle-down {
    position: absolute;
    bottom: -8px; /* nằm dưới khối trắng */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white; /* trùng màu với box */
}

.ai-button:hover span {
    display: block;
}


/* chat box với overlay */
.overlay{
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.hidden-ai{
    width: 80%;
    height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 21;
    border-radius: 10px;

    font-family: Open Sans, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;

}

