.cart-page{ background-color:#cccccc }
.cart-table {
    background-color: white;
    width: 96%;
    margin: auto;
    border-collapse: collapse;
    border: none;

}
.cart-table th, .cart-table td{
    padding: 10px;
    gap: 10px;
    vertical-align: middle;
    border-bottom: 10px solid #cccccc;
    text-align: center;
    position: relative;
}
.cart-table th {
    border-top: 20px solid #cccccc;
    font-weight: bold;
    font-family: 'Open Sans', Verdana, sans-serif;
}
.cart-table td {font-family: "Verdana", sans-serif}
.cart-table th:first-child, .cart-table td:first-child{
    max-width: 225px;
    text-align: left;
    padding-left: 50px;
}

.cart-table td img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    vertical-align: middle;
}

/* div cột đầu tiên */
.cart-table .product-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    text-decoration: none;
    color: #132440;
}

.cart-table .pro-name {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

/* button chỉnh số lượng */
.cart-table .qcontrol{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: "Copperplate Gothic Bold";
    font-size: xxx-large;
    height: 50px;

    border-radius: 15px;
    border: 1px solid #cccccc;
    width: fit-content;
    margin: auto;
}
.cart-table .qcontrol button{
    border: none;
    background-color: white;
    aspect-ratio: 1/1;
}
.cart-table .qcontrol .btnL{ border-radius: 15px 0 0 15px }
.cart-table .qcontrol .btnR{ border-radius: 0 15px 15px 0 }

.cart-table .qcontrol button:hover{
    background-color: #132440;
}
.cart-table .qcontrol input{
    width: 50px;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    text-align: center;
}
.actions { text-align: center; margin-top: 20px; }