.category{
    width: 100%;
    padding: 50px;
    font-family: 'Roboto Bold', sans-serif;

}

.category tr {
    display: flex;
    justify-content: center; /* 👈 căn giữa cả hàng */
}
.category div{
    display: flex;
    justify-content: center; /* căn ngang */
    align-items: center;
    padding: 50px 20px;
}
.category a{
    text-decoration: none;
    padding: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #4FB7B3;
    color: #132440;

    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    width: 250px;
    height: 250px;
    box-sizing: border-box; /* để border + padding ko làm lệch */
}
.category a:link, .category a:visited{text-decoration: none;}

.category a:hover{
    background: #4FB7B3;
    color: #fff;
}
.category img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}