.pagination {
    display: flex;
    justify-content: center;  /* căn giữa các nút */
    align-items: center;
    gap: 10px;
    padding: 0;
    list-style: none;
    margin: 50px 0 50px 0;
}

.pagination button {
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 5px;
    background: none;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}

.pagination button.disabled {
    color: #aaa;
    cursor: not-allowed;
    pointer-events: none;
}


.pagination button.active {
    background-color: #132440;
    color: white;
}

