.product_table{
    width: 100%;
}

.product_table img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    overflow: hidden;
}
.product{
    display: flex;
    flex-direction: column;
}
.product div{
    padding: 10px;
    text-align: center;
    font-family: 'Roboto Bold', sans-serif;
}

.product:link, .product:visited{
    text-decoration: none;
    border: 2px solid transparent;
}
.product:hover, .product:active{
    border: 2px #4FB7B3 solid;
}
.product .price{
    font-weight: bold;
    font-size: small;
    color: #132440;
}


.product .add_info{
    display: flex;
    margin: 0;
    gap: 10px;
    line-height: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product .material,
.product .discount {
    max-width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.product .material{
    margin: 20px 0;
    border-radius: 10px;
    color: orange;
    border:1px ridge orange;
    width: 50%;
    white-space: nowrap;       /* Không xuống dòng */
    overflow: hidden;          /* Ẩn phần tràn */
    text-overflow: ellipsis;
}
.product .discount{
    margin: 20px 0;
    background-color: orange;
    border:1px ridge orange;
    color: white;
    font-weight: bold;
    font-size: 11px;
    overflow: clip;
    padding: 5px 10px;
}
