body {
    margin: 0;
    background: white;
}

header {
    background-color: #132440;
    color: white;
    font-size: small;
    border: 5px #132440 solid;
    padding: 10px;
    padding-inline: 40px;
}
header a:link, header a:visited{
    font-weight: bold;
    font-family: "Verdana", sans-serif;
    font-size: small;
    color: white;
}

.banner{
    padding-left: 195px;
}

h5{
    text-align: center;
}

h4{
    background-color: #4FB7B3;
    color: #132440;
    border-top: 1px #132440 groove;
    border-bottom: 1px #132440 groove;
    padding: 10px;
    margin: 0;

    font-family: "Roboto Bold", sans-serif;
}


