<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Doanh Thu</title>
    <style>
        table {
            width: 60%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            padding: 10px;
            border: 1px solid #333;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2 style="text-align:center;">Báo cáo Doanh Thu</h2>
    <table>
        <tr>
            <th>Ngày</th>
            <th>Doanh Thu Hôm Nay</th>
            <th>Doanh Thu Tháng</th>
            <th>Doanh Thu Năm</th>
        </tr>
        <tr>
            <td>{{ revenue[0] }}</td> <!-- Ngay: Ngày hôm nay-->
            <td>{{ revenue[1] }}</td> <!-- DoanhThuHomNay: doanh thu theo ngày -->
            <td>{{ revenue[2] }}</td> <!-- DoanhThuTheoThang: theo tháng -->
            <td>{{ revenue[3] }}</td> <!-- DoanhThuTheoNam:theo năm -->
        </tr>
    </table>
</body>
</html>
