<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Cart-page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body style="background-color: lightgrey;">
    {% include 'MenuBar.html' %}
    <h4 style="padding-left: 195px">Giỏ hàng của bạn</h4>

    <div class="cart-page">
    {% if cart_items %}
    <table class="cart-table">
        <tr>
            <th></th>
            <th style="padding-left: 155px">Tên sản phẩm</th>
            <th> </th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Hành động</th>
        </tr>
        {% for item in cart_items %}
        {% set dis_price = item.Gia * (100 - item.Discount) / 100 %}
        <tr>
            <td class="checksum">
                <input type="checkbox"
                    class="cart-checkbox"
                    data-id="{{ item.MaSP }}"
                    data-color="{{ item.MauSacDaChon }}"
                    data-size="{{ item.KichCoDaChon }}"
                    data-price="{{ dis_price }}"
                    data-quantity="{{ item.SoLuong }}">
            </td>
            <td>
                <!-- duyệt list tìm ảnh cho đúng màu -->
                <a class="product-wrapper" href="{{ url_for('product.product_detail', pid=item.MaSP) }}">
                    <img src="{{ url_for('static', filename = item.selected_image) }}">
                    <div class="pro-name">{{ item.TenSP }}</div>
                </a>
            </td>
            <td>
                <div class="option">
                    <button class="optionBtn"
                            data-target="dropdown_{{ item.MaSP }}_{{ item.MauSacDaChon }}_{{ item.KichCoDaChon }}">
                        {{ item.MauSacDaChon }}, {{ item.KichCoDaChon }}
                        <span class="triangle-down"></span>
                    </button>
                    <div id="dropdown_{{ item.MaSP }}_{{ item.MauSacDaChon }}_{{ item.KichCoDaChon }}" class="dropdown">
                        <span class="triangle"></span>
                        <form id="form_{{ item.MaSP }}_{{ item.MauSacDaChon }}_{{ item.KichCoDaChon }}">
                            Màu sắc:
                            {% for c in item.colors %}
                            <label class="container">
                                <input type="radio" name="color" value="{{ c }}"/>
                                <span class="text">{{ c }}</span>
                            </label>
                            {% endfor %}
                            <br>
                            Size:
                            {% for s in item.sizes %}
                            <label class="container">
                                <input type="radio" name="size" value="{{ s }}"/>
                                <span class="text">{{ s }}</span>
                            </label>
                            {% endfor %}
                            <div class="cart-form-options">
                                <button type="reset">Hủy</button>
                                <button type="submit"
                                        onclick="updateCartOption('{{ item.MaSP }}', '{{ item.MauSacDaChon }}', '{{ item.KichCoDaChon }}')">
                                    Xác nhận
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </td>
            <td style="color:orange"><s>{{ item.Gia|vnd }}</s> {{ dis_price|vnd }}</td>
            <td>
                <div class="qcontrol">
                    <button class="btnL"
                            id="decrease_{{ item.MaSP }}_{{ item.MauSacDaChon }}_{{ item.KichCoDaChon }}"
                    >−</button>

                    <input type="text"
                           id="quantity_{{ item.MaSP }}_{{ item.MauSacDaChon }}_{{ item.KichCoDaChon }}"
                           value="{{ item.SoLuong }}" readonly>
                    <input type="hidden"
                           id="left_{{ item.MaSP }}_{{ item.MauSacDaChon }}_{{ item.KichCoDaChon }}"
                           value="{{ item.SoLuongCon }}">

                    <button class="btnR"
                            id="increase_{{ item.MaSP }}_{{ item.MauSacDaChon }}_{{ item.KichCoDaChon }}"
                    >+</button>
                </div>
            </td>
            <td style="color:orange">{{ (dis_price * item.SoLuong)|vnd }}</td>
            <td>
                <button class="remove-btn"
                        data-product_id="{{ item.MaSP }}"
                        data-color="{{ item.MauSacDaChon }}"
                        data-size="{{ item.KichCoDaChon }}">
                    ×
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="actions">
        <h3 style="padding-bottom: 10px">Tổng giá trị trong giỏ hàng: {{ total_price|vnd }}</h3>
        <a href="{{ url_for('cart_bp.clear_cart') }}">Xóa toàn bộ</a>
    </div>
    {% else %}
        <div style="padding: 50px; text-align: center;background-color: white">
            <img src="{{ url_for('static', filename='used/empty-cart.png') }}" style="width: 150px; aspect-ratio: 1/1;">
            <h1>Giỏ hàng trống.</h1>
        </div>
    {% endif %}
    </div>

    <div id="cart-summary" style="display: flex; gap:10px">
        <div style="flex: 1; text-align: right;">
            <span id="selected-count">0</span> &nbsp; sản phẩm được chọn
        </div>
        <div> | </div>
        <div style="flex: 1; text-align: left;">
            Tổng tiền: &nbsp; <span id="total-price">0₫</span>
            <button id="create-order-btn">Tạo đơn hàng</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/cart-update.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
</body>
</html>

