<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="overflow-x: hidden;">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- bar điều hướng, có ở tất cả các trang-->
    {% include 'MenuBar.html' %}

    {% if categories %} <!-- chọn xem danh mục hoặc sản phẩm -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category-table.css') }}">
    <h4 style="padding-left: 195px">Web Qao / Danh Mục </h4>
        <table class="category">
            {% for cat4 in categories|batch(4, '') %}
            <tr>
                {% for c in cat4 if c %}
                <td>
                    <div>
                    <a href="{{ url_for('navigation.p_category', maDM=c.MaDM) }}">
                        <img src="{{ url_for('static', filename=c.HinhAnh) }}">
                        {{ c.TenDM }}
                    </a>
                    </div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <h4 style="padding-left: 195px">Web Qao / {{category}} </h4>
        {% include 'ProductTable.html' %}
    {% endif %}

</body>
</html>