<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Quan ao</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- bar điều hướng, có ở tất cả các trang-->
    {% include 'MenuBar.html' %}
    <h4 style="padding-left: 195px">Web Qao / {{ season }} Collection </h4>

    {% if seasons %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category-table.css') }}">
    <table class="category">
        {% for sea2 in seasons|batch(2, '') %}
            <tr>
                {% for s in sea2 if s %}
                <td>
                    <div>
                    <a href="{{ url_for('navigation.p_collection', season= s.Season) }}">
                    <img src="{{ url_for('static', filename=s.HinhAnh) }}">
                    {{ s.Season }} {{ s.SoLuong }}
                    </a>
                    </div>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% else %}
        {% include 'ProductTable.html' %}
    {% endif %}
</body>
</html>