<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Web Qao</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- bar điều hướng, có ở tất cả các trang-->
    {% include 'MenuBar.html' %}

    <!-- bieu tuong (cho dep) -->
    <div class="star_gif" >
        <img src="{{ url_for('static', filename='used/star.png') }}">
    </div>

    <!-- quảng cáo flagship -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Menu-ads.css') }}">
    <div class="ads">
        <div class="wrapper">
            <div class="track">

                <div class="flagship">
                    <img src="{{ url_for('static', filename='used/placeHolder_1.jpg') }}">
                </div>
                <div class="flagship">
                    <img src="{{ url_for('static', filename='used/placeHolder_2.jpg') }}">
                </div>
                <div class="flagship">
                    <img src="{{ url_for('static', filename='used/placeHolder_3.jpg') }}">
                </div>

            </div>
        </div>
        <!-- hai mũi tên trái - phải -->
        <button type="button" class="arrow arrowL">
            <img class="arr_img" src="{{ url_for('static', filename='used/arrow_left.png') }}">
        </button>
        <button type="button" class="arrow arrowR">
            <img class="arr_img" src="{{ url_for('static', filename='used/arrow_right.png') }}">
        </button>
    </div>
    <script src="{{ url_for('static', filename='js/slider.js') }}"></script>

    <h4 style = "text-align: center"> Gợi ý cho bạn </h4>

    <table>
    <!--{% for p in product %} đoạn này chờ có csdl
        <tr>
            <td text-align = "center">
                <a class="img" href="{{ url_for('product_detail', pid = p.id) }}">
                    <img src="{{ url_for('static', filename='product/' ~ p.id ~ '_0.png' ) }}"
                </a>
                {{ p.name }}
                {{ p.price }}

            </td>
        </tr>
        {% endfor %}
    -->
    </table>

</body>
</html>