<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Web Qao</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a class="navi" href="{{ url_for('new_product') }}">Hàng mới về</a>
    <a class="navi" href="{{ url_for('collections') }}">Bộ sưu tập</a>

    <span class="tag">
        <a class="navi" href="{{ url_for('catalog') }}">Danh mục hàng</a>
        <table class="hidden dropdown" name="navi_choice">
            <tr><td>Áo</td></tr>
            <tr><td>Quần</td></tr>
            <tr><td>Phụ Kiện</td></tr>
        </table>
    </span>

    <div class="star_gif">
        <img src="{{ url_for('static', filename='star.png') }}">
    </div>

    <div class="ads">
        <div class="wrapper">
            <div class="track">
                <div class="flagship">
                    <img src="{{ url_for('static', filename='placeHolder_1.jpg') }}">
                </div>
                <div class="flagship">
                    <img src="{{ url_for('static', filename='placeHolder_2.jpg') }}">
                </div>
                <div class="flagship">
                    <img src="{{ url_for('static', filename='placeHolder_3.jpg') }}">
                </div>
            </div>
        </div>
        <button type="button" class="arrow arrowL">
            <img class="arr_img" src="{{ url_for('static', filename='arrow_left.png') }}">
        </button>
        <button type="button" class="arrow arrowR">
            <img class="arr_img" src="{{ url_for('static', filename='arrow_right.png') }}">
        </button>
    </div>

    <script src="{{ url_for('static', filename='js/slider.js') }}"></script>

    <h4 style="text-align: center">Gợi ý cho bạn</h4>

    <table>
        {# Phần này tạm tắt, chờ có dữ liệu #}
        {#
        {% for p in product %}
        <tr>
            <td style="text-align: center">
                <a class="img" href="{{ url_for('product_detail', pid=p.id) }}">
                    <img src="{{ url_for('static', filename='product/' ~ p.id ~ '_0.png') }}">
                </a>
                {{ p.name }}
                {{ p.price }}
            </td>
        </tr>
        {% endfor %}
        #}
    </table>
</body>
</html>
