<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Web Qao</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <header>
        Nhóm 3
        <a style="float: right" href="{{ url_for('size_help') }}">Hỗ trợ chọn size</a>
        {% if session.get('hoten') %}
            <a>Xin Chào {{session.get('hoten')}}</a>
            <a style="float: right" href="{{ url_for('logout.logout') }}" > Đăng Xuất</a>
        {% else %}
            <a style="float: right" href="{{ url_for('register.register') }}">Đăng Ký</a>
            <a style="float: right" href="{{ url_for('login_module.login') }}">Đăng Nhập</a>
        {% endif %}
    </header>

    <!-- bar điều hướng, có ở tất cả các trang-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Menu-bar.css') }}">
    <div class="menu-bar">
        <!-- logo Trang web -->
        <a class = 'img' href="{{ url_for('menu.main_menu') }}">
            <div>
                <img src="{{ url_for('static', filename='used/Logo_PTIT.jpg') }}" alt="Logo PTIT" height = "100">
            </div>
        </a>

        <a class="navi" href="{{ url_for('new_product') }}" > Hàng mới về </a>
        <span class="tag">
            <a class="navi" href="{{ url_for('collections') }}"> Bộ sưu tập </a>
            <table class="hidden dropdown">
                <tr><td><a class = "cate" href="{{ url_for('category.collection', season='Xuân') }}">💮 Xuân Hồng 💮</a></td></tr>
                <tr><td><a class = "cate" href="{{ url_for('category.collection', season='Hè') }}">🍋 Hạ Cháy 🍋</a></td></tr>
                <tr><td><a class = "cate" href="{{ url_for('category.collection', season='Thu') }}">🍂 Thu Nhẹ 🍂</a></td></tr>
                <tr><td><a class = "cate" href="{{ url_for('category.collection', season='Đông') }}">❄️ Đông Trắng ❄️</a></td></tr>
            </table>
        </span>

        <!--Danh mục hàng, có thể sẽ thay bằng bảng csdl-->
        <span class="tag">
            <a class="navi" href="{{ url_for('catalog.catalog') }}">Danh mục hàng</a>
            <table class="hidden dropdown" name="navi_choice">
                <tr><td><a class = "cate" href="{{ url_for('category.category', category='Ao') }}">Áo</a></td></tr>
                <tr><td><a class = "cate" href="{{ url_for('category.category', category='Quan') }}">Quần</a></td></tr>
                <tr><td><a class = "cate" href="{{ url_for('category.category', category='PhuKien') }}">Phụ kiện</a></td></tr>
            </table>
        </span>
    </div>

</body>
</html>