<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Web Qao</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <header>
        Nhóm 3
        {% if session.get('user_role') == 'Admin' %}
        <a href="{{ url_for('admin.admin_page') }}" style="margin-left: 50px">Vào chế độ chỉnh sửa</a>
        {% endif %}
        <a style="float: right" href="{{ url_for('size.size_help') }}">Hỗ trợ chọn size</a>
    </header>

    <!-- bar điều hướng, có ở tất cả các trang-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Menu-bar.css') }}">
    <div class="menu-bar">
        <!-- logo Trang web -->
        <a class = 'img' href="{{ url_for('menu.main_menu') }}">
            <div>
                <img src="{{ url_for('static', filename='used/Logo_PTIT.jpg') }}" alt="Logo PTIT" height = "100">
            </div>
        </a>

        <a class="navi" href="{{ url_for('navigation.newest_products') }}" > Hàng mới về </a>

        <span class="tag">
            <a class="navi" href="{{ url_for('navigation.collections') }}"> Bộ sưu tập </a>
            <table class="hidden dropdown">
                <tr><td><a class = "cate" href="{{ url_for('navigation.p_collection', season='Spring') }}">💮 Xuân Hồng 💮</a></td></tr>
                <tr><td><a class = "cate" href="{{ url_for('navigation.p_collection', season='Summer') }}">🍋 Hạ Cháy 🍋</a></td></tr>
                <tr><td><a class = "cate" href="{{ url_for('navigation.p_collection', season='Autumn') }}">🍂 Thu Nhẹ 🍂</a></td></tr>
                <tr><td><a class = "cate" href="{{ url_for('navigation.p_collection', season='Winter') }}">❄️ Đông Trắng ❄️</a></td></tr>
            </table>
        </span>

        <!--Danh mục hàng-->
        <span class="tag">
            <a class="navi" href="{{ url_for('navigation.categories') }}">Danh mục hàng</a>
            <table class="hidden dropdown" name="navi_choice">
                <tr><td><a class = "cate" href="{{ url_for('navigation.p_category', category='Áo') }}">Áo</a></td></tr>
                <tr><td><a class = "cate" href="{{ url_for('navigation.p_category', category='Quần') }}">Quần</a></td></tr>
                <tr><td><a class = "cate" href="{{ url_for('navigation.p_category', category='Váy') }}">Váy</a></td></tr>
                <tr><td><a class = "cate" href="{{ url_for('navigation.p_category', category='Phụ Kiện') }}">Phụ kiện</a></td></tr>
            </table>
        </span>

        <div class="upright-search">
            <form action="{{ url_for('search.search') }}" method="GET">
                <input class="hidden dropdown" type="text" name="word" placeholder="Tìm kiếm">
                <button type="submit" style="background: none; border: none; padding: 0;">
                    <img src="{{ url_for('static', filename='used/search.png') }}" alt="Search" />
                </button>
            </form>
        </div>

        <div class="upright-user">
            {% if session.get('hoten') %}
            <a style="float: right" href="{{ url_for('logout.logout') }}">
                <img src="{{ url_for('static', filename='used/logout.png') }}" alt="Log Out" />
            </a>
            {% else %}
            <a style="float: right" href="{{ url_for('login_modules.login') }}">
                <img src="{{ url_for('static', filename='used/user.png') }}" alt="User" />
            </a>
            {% endif %} 
        </div>

        <div class="upright-cart">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/orderorcart.css') }}">
            <img src="{{ url_for('static', filename='used/cart.png') }}" alt="Cart" />
            <div class="cart-dropdown hidden">
                <a href="{{ url_for('cart.cart') }}">🛒 Giỏ hàng của tôi</a>
                <a href="{{ url_for('orders.show_orders') }}">📦 Đơn hàng của tôi</a>
            </div>
            <script src="{{ url_for('static', filename='js/orderorcart.js') }}"></script>
        </div>
    </div>

    <!-- add thêm AI cho các trang -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ai.css') }}">
    <div class="ai-button">
        <button  onclick="switchpopup()">
            <img src="{{ url_for('static', filename='used/ai.png') }}" alt="Ai" />
        </button>
        <span>
            Hỏi tôi bất cứ điều gì!
            <div class="triangle-down"></div>
        </span>
    </div>

    <div class="overlay" id="overlay">
        <div class="hidden-ai" id="hidden-ai">
            {% include 'test_ai.html' %}
        </div>
    </div>
    <script>
        function switchpopup() {
            const el = document.getElementById('overlay');
            const current = window.getComputedStyle(el).display;
            el.style.display = current === 'none' ? 'flex' : 'none';
        }
    </script>

</body>
</html>