<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/filter_column.css') }}">
    <table class="product_table">
        {% for row in products|batch(5, '') %}
        <tr>
            {% for p in row %}
                {% if p != '' %}
                <td>
                    <a class="product" href="{{ url_for('product.product_detail', pid=p.MaSP) }}">
                        <div>
                            <img class="main" src="{{ url_for('static', filename= p.HinhAnh) }}">
                        </div>
                        <div>{{ p.TenSP }}</div>
                        <div class="price">{{ p.Gia|int }}₫</div>
                        <div class="material">{{ p.ChatLieu }}</div>
                    </a>
                </td>
                {% else %}
                <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>