<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký tài khoản</title>
</head>
<body>
<form method="POST" action="/register">
  <label>Họ Và Tên:</label><br>
  <input type="text" name="HoTen" required><br>

  <label>Tên Đăng Nhập:</label><br>
  <input type="text" name="username" required><br>

  <label>Mật khẩu:</label><br>
  <input type="password" name="MatKhau" required><br>

  <label>Số điện thoại:</label><br>
  <input type="text" name="numberPhone" required><br>

  <label>Địa chỉ:</label><br>
  <input type="text" name="address" required><br>

  <button type="submit">Đăng ký</button>
</form>

</body>
</html>